node_modules
.vscode/*
package-lock.json
t.ts
main.dot
q.md
codeLab
.DS_Store
out/
.idea
tests/resources/output
tests/resources/callgraph/projectTest/*
coverage
doc/
exportRollup.config.mjs
dist/
*.log
output
